@charset "UTF-8";
.divnuestrasespecialidades, .divpcomoencasa, .divpastascomoencasa, .div-imagen-grazie {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer div div ul li a {
  text-decoration: none;
  color: #be9c3f;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.footerp {
  border: solid;
  border-color: black;
  border-width: 5px 5px 5px 5px;
}

header {
  background-color: #BE9C3F;
  border: solid black 2px;
  width: 99%;
  position: fixed;
  border-radius: 5%;
  box-shadow: 5px 5px 5px 5px;
  z-index: 4;
}
header nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  gap: 10%;
  padding-inline-start: 0px;
}
header nav ul li {
  font-size: 30px;
}
header nav ul li a {
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #324145;
}
header nav ul li a:hover {
  color: #f4f0ea;
}

footer {
  background-size: cover;
  background-image: url(../assets/img/fondos/fondo-index-logo-grazie.png);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #BE9C3F;
}
footer div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 1%;
  margin-right: 2%;
}
footer div div {
  display: flex;
  flex-direction: column;
}
footer div div h5 {
  font-size: 30px;
}
footer div div ul li a {
  font-size: 15px;
}
footer div div iframe {
  list-style: none;
  margin-top: 3%;
  width: 80%;
  height: 80%;
  box-shadow: #BE9C3F 5px 5px 5px 5px;
  margin-top: 10%;
}

.li_seguinos_en_nuestras_redes {
  margin: 3%;
  text-decoration: none;
  list-style: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.imagen_footer {
  width: 50px;
  height: 50px;
  margin-right: 3%;
}

.direccion {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 10%;
}

.footerp {
  background-color: #BE9C3F;
  color: black;
  font-size: 30px;
  margin: 5px 5px 5px 5px;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  margin-right: 20%;
  list-style: none;
}

.desarrolladopor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

body {
  margin: 0% 0% 0% 0%;
}

.mainindex {
  background-image: url(../assets/img/fondos/fondo-index-logo-grazie.png);
  background-size: cover;
  width: 100%;
  height: 100%;
  padding-bottom: 1%;
}

.div-imagen-grazie {
  justify-content: center;
}

.imagen-grazie {
  width: 50%;
  height: 1000px;
}

.botonhacetupedidodiv, .centrarbotonfotos, .sectioninicicarcompra, .centrah1-hacetupedido {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mainruteoboton {
  background-color: #BE9C3F;
  border-radius: 5%;
  font-size: 30px;
  box-shadow: 5px 5px 5px 5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  padding: 1% 1% 1% 1%;
}

.mainruteobotona {
  color: #324145;
  text-decoration: none;
}

.divwhatsapp {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.whatsappboton {
  border-radius: 5%;
  border-color: #f4f0ea;
  border: 1% 1% 1% 1%;
  color: black;
  background-color: #BE9C3F;
  box-shadow: 5px 5px 5px 5px;
}

.maindivwhatsappbuttona {
  text-decoration: none;
  color: black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 50px;
}

.logowhatsapp {
  width: 90px;
  height: 90px;
}

.sectionnuestrasespecialidades {
  background-image: url(../assets/img/fondos/fondo_index_2.png);
  background-size: cover;
}

.nuestrasespecialidadesh1 {
  background-color: #324145;
  color: #BE9C3F;
  padding: 1% 1% 1% 1%;
  border-radius: 5%;
  box-shadow: 5px 5px 5px 5px;
  font-size: 50px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.prod1 {
  grid-area: tagl;
  background-image: url(../assets/img/hace-tu-pedido-imagenes/fondo-tagliatelle.png);
  background-size: cover;
}

.prod2 {
  grid-area: fettuc;
  background-image: url(../assets/img/hace-tu-pedido-imagenes/fondo_fetuccini.png);
  background-size: cover;
}

.prod3 {
  grid-area: sorren;
  background-image: url(../assets/img/hace-tu-pedido-imagenes/fondo-sorrento.png);
  background-size: cover;
}

.prod4 {
  grid-area: macch;
  background-image: url(../assets/img/hace-tu-pedido-imagenes/fondo_maccheroni.png);
  background-size: cover;
}

.prod5 {
  grid-area: gnoc;
  background-image: url(../assets/img/hace-tu-pedido-imagenes/fondo-noquis.png);
  background-size: cover;
}

.prod6 {
  grid-area: lasg;
  background-image: url(../assets/img/hace-tu-pedido-imagenes/fondo-lasagna.png);
  background-size: cover;
}

.prod7 {
  grid-area: raviol2;
  background-image: url(../assets/img/hace-tu-pedido-imagenes/fondo-ravioles.png);
  background-size: cover;
}

.prod8 {
  grid-area: cannel;
  background-image: url(../assets/img/hace-tu-pedido-imagenes/fondo_canelones.png);
  background-size: cover;
}

.prod9 {
  grid-area: raviol3;
  background-image: url(../assets/img/hace-tu-pedido-imagenes/fondo-raviolone.png);
  background-size: cover;
}

.prod10 {
  grid-area: fussil;
  background-image: url(../assets/img/hace-tu-pedido-imagenes/fondo_fusilli.png);
  background-size: cover;
}

.listasnuestrasespecialidades {
  display: grid;
  grid-template-rows: 20% 20% 20% 20% 20%;
  grid-template-columns: 25% 25%;
  grid-template-areas: "tagl lasg" "fettuc raviol2" "sorren cannel" "macch raviol3" "gnoc fussil";
  column-gap: 10%;
  justify-content: space-evenly;
}

.productesp {
  margin: 10%;
  border-radius: 5%;
  box-shadow: black 5px 5px 5px 5px;
  align-items: center;
  text-align: center;
}

.spanproductosindex {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 50px;
  color: #f4f0ea;
  -webkit-text-stroke: 2px black;
}

.hacemospastas {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 30px;
  text-align: center;
  padding-bottom: 100px;
  margin-block-end: 0;
}

.sectionhacerpastascomoencasa {
  background-image: url(../assets/img/fondos/fideos-de-fondo.png);
  background-size: cover;
}

.hacerpastascomoencasah2 {
  font-family: 50px;
  font-size: 50px;
  color: #324145;
}

.divpcomoencasa {
  padding-top: 200px;
  padding-bottom: 200px;
}

.pcomoencasa {
  text-align: center;
  color: #324145;
  font-size: 50px;
  width: 50%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  border: solid;
  border-color: #324145;
  box-shadow: 5px 5px 5px 5px;
  background-color: #f4f0ea;
}

#bodyhacetupedido {
  background-image: url(../assets/img/fondos/fondo_hace_tu_pedido.png);
  background-size: cover;
}

.main-hace-tu-pedido {
  padding-top: 5%;
}

.search {
  width: 99%;
  border: solid #324145;
}

.botoninicio {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: 2%;
}

.volverainiciobuton {
  background-color: #BE9C3F;
  border: none;
  border-radius: 10%;
  margin-bottom: 1%;
  box-shadow: 2px 2px 2px 2px;
}

.avolverainiciobuton {
  text-decoration: none;
  color: #f4f0ea;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 15px;
}

.avolverainiciobuton:hover {
  color: #324145;
}

.vercarrito {
  background-color: #324145;
  padding: 2% 2% 2% 2%;
  border: solid #f4f0ea;
  box-shadow: 5% 5% 5% 5%;
  border-radius: 2%;
  margin-right: 0.1%;
  position: fixed;
  margin-top: 2%;
  z-index: 4;
}

.letrascarrito {
  text-decoration: none;
  color: #f4f0ea;
  font-family: 15px;
  font-size: 15px;
}

.letrascarrito:hover {
  color: black;
}

.h1-hace-tu-pedido {
  font-size: 75px;
  font-family: "Enriqueta", sans-serif;
  color: #f4f0ea;
  line-height: 180%;
  -webkit-font-smoothing: antialiased;
  text-decoration-line: underline;
  text-decoration-color: #BE9C3F;
}

.imagen-gnochi {
  width: 100%;
  height: 200px;
}

.h3product {
  font-size: 30px;
  text-align: center;
  grid-area: titulopasta;
}

.cantidad {
  justify-self: start;
  border: 0px;
  grid-area: cantrelleno;
}

.formproducto {
  height: 110px;
  grid-area: cantidadkg;
}

.gnocchiproducto {
  grid-area: gnocchi;
}

.tagliateleproducto {
  grid-area: tagliatele;
}

.sorrentinosproducto {
  grid-area: sorrentinos;
}

.lasagnaproducto {
  grid-area: lasagna;
}

.canelloniproducto {
  grid-area: canelloni;
}

.ravioliproducto {
  grid-area: ravioli;
}

.ravioloneproducto {
  grid-area: raviolone;
}

.macaronsproducto {
  grid-area: macarons;
}

.mostacholesproducto {
  grid-area: maccheronni;
}

.fetuccineproducto {
  grid-area: fetuccine;
}

.card-body1 {
  display: grid;
  grid-template-rows: 15% 35% 20% 30%;
  grid-template-columns: 100%;
  grid-template-areas: "titulopasta" "cantidadkg" "cantrelleno" "botonagregar";
}

.nuestraspastassector {
  display: grid;
  grid-template-rows: 500px 500px;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-areas: "tagliatele ravioli raviolone gnocchi sorrentinos" "canelloni macarons maccheronni fetuccine lasagna";
  row-gap: 5%;
  justify-content: space-evenly;
  height: 1200px;
  margin-left: 2%;
}

.inputhacetupedido {
  font-family: "Enriqueta", sans-serif;
}

.selector {
  color: #324145;
  background-color: #BE9C3F;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.tamprodcaja {
  width: 85%;
}

.tipodemasa {
  justify-self: center;
  border: 0px;
  font-size: 15px;
}

.centraragregarcarrito {
  display: flex;
  justify-content: center;
  grid-area: botonagregar;
}

.agregarcarrito {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  color: #f4f0ea;
  background-color: #324145;
  height: 50%;
  justify-self: center;
  align-self: end;
  border-radius: 5%;
}

.agregarcarrito:hover {
  color: 20px #f4f0ea;
  box-shadow: 0 0 20px #324145;
  box-shadow: 0 0 50px #324145;
  box-shadow: 0 0 85px #324145;
  box-shadow: 0 0 125px #324145;
}

.legend {
  font-size: 20px;
  color: #324145;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  justify-self: center;
  -webkit-text-stroke: black 0.5px;
  text-decoration-line: underline;
  text-decoration-color: #324145;
  margin-bottom: 5%;
}

.fieldset {
  border: 0;
}

.separarh2 {
  margin-top: 2%;
}

.inputhacetupedido {
  color: #324145;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 10px;
}

.nuestrassalsassector {
  display: grid;
  grid-template-rows: 400px;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-areas: "scarparo tuco rosa pesto bolognesa";
  justify-content: space-evenly;
  height: 650px;
  margin-left: 2%;
}

.cantidad2 {
  margin-bottom: 10%;
}

.scarparoprod {
  grid-area: scarparo;
}

.tucoprod {
  grid-area: tuco;
}

.rosaprod {
  grid-area: rosa;
}

.pestoprod {
  grid-area: pesto;
}

.bolognesaprod {
  grid-area: bolognesa;
}

.sectioninicicarcompra {
  margin-top: 10%;
}

.iniciarcomprabuton {
  background-color: #BE9C3F;
  border-radius: 2%;
  box-shadow: 2px 2px 2px 2px;
  font-size: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  margin-bottom: 1%;
}

.iniciarcomprabuton:hover {
  background-color: #324145;
}

.textoiniciarcompra {
  text-decoration: none;
  color: black;
}

.bodyreclamos {
  background-image: url(../assets/img/fondos/fondo_hace_tu_pedido.png);
}

.sectionreclamo {
  display: flex;
  justify-content: end;
}

.margincarrito {
  margin-top: 15%;
}

.importante-reclamo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}

.textoimportante {
  font-family: "Enriqueta", sans-serif;
  font-size: 20px;
  color: #f4f0ea;
}

.formularioreclamo {
  font-family: "Enriqueta", sans-serif;
  color: #f4f0ea;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}

.fieldset2 {
  border: none;
  width: 70%;
}

.completardatos {
  text-align: center;
  text-decoration: underline double #BE9C3F;
  font-size: 50px;
  margin-bottom: 5%;
}

.formulariolabel {
  text-decoration: underline #324145;
  font-size: 30px;
}

.tamañoforminput {
  width: 100%;
  height: 30px;
  margin-bottom: 1%;
}

.tamañoforminput2 {
  width: 100%;
  height: 200px;
}

.bodygaleria {
  background-image: url(../assets/img/fondos/fondo-index-logo-grazie.png);
}

.arteh1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 50px;
  color: #BE9C3F;
  padding-top: 15%;
  text-align: center;
  margin-bottom: 8%;
  text-decoration: underline solid #f4f0ea;
  font-size: 75px;
}

.grid-armado {
  display: grid;
  grid-template-rows: 25% 20% 35%;
  grid-template-columns: 20% 25% 20%;
  grid-template-areas: "postres ravio tartas" "postres grazielocal tartas" "cristian grazielocal fabio";
  row-gap: 2%;
  column-gap: 2%;
  justify-content: center;
}

.postres {
  grid-area: postres;
}

.raviolonesart {
  grid-area: ravio;
}

.tartas {
  grid-area: tartas;
}

.cristian {
  grid-area: cristian;
}

.fabio {
  grid-area: fabio;
}

.grazielocal {
  grid-area: grazielocal;
}

.imggaleria {
  width: 100%;
  height: 80%;
}

.parrafogaleria {
  font-family: "Enriqueta", sans-serif;
  font-size: 15px;
  color: #BE9C3F;
  text-align: center;
}

.bordegaleria {
  border: #BE9C3F solid 5px;
  outline: solid 5px #f4f0ea;
  background-color: #f4f0ea;
}

.grid-mediospago {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10%;
}

.imgmediospago {
  width: 12%;
  height: 100px;
  margin-left: 2%;
  margin-right: 2%;
}

.footergaleria {
  margin: 2% 2% 2% 2%;
  border: #BE9C3F solid;
  border: 5px 5px 5px 5px;
  border-radius: 2%;
}

.butonverfotos {
  background-color: #BE9C3F;
  justify-self: center;
  border-radius: 5%;
}

.butonverfotos:hover {
  background-color: #f4f0ea;
}

.ancorefotos {
  font-family: "Enriqueta", sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #324145;
}

.bodyquienes-somos {
  background-image: url(../assets/img/fondos/fondo-index-logo-grazie.png);
}

.grid-main {
  display: grid;
  grid-template-rows: 30% 70%;
  grid-template-columns: 30% 70%;
  grid-template-areas: "imagen titulo" "imagen parrafo";
  margin-left: 3%;
  margin-right: 3%;
  padding-top: 10%;
}

.nosotrosh1 {
  color: #BE9C3F;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  text-align: center;
  font-size: 75px;
  grid-area: titulo;
}

.parrafonostros {
  text-align: justify;
  color: #BE9C3F;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 30px;
  grid-area: parrafo;
  border-width: 5px;
  border-style: solid;
  border-color: #BE9C3F;
  padding: 0% 1% 0% 2%;
  margin-top: 2%;
}

.imgparrafo {
  width: 80%;
  height: 80%;
  grid-area: imagen;
  align-self: center;
}

.grid-section-fotos {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 20% 20% 20% 20%;
  grid-template-areas: "img1 img2 img3 img4";
  justify-content: space-evenly;
  margin-left: 5%;
  margin-top: 10%;
  margin-right: 5%;
}

.imgdenosotros {
  border: #BE9C3F solid 5px;
  outline: solid 5px #f4f0ea;
  width: 80%;
  height: 100%;
}

.img1 {
  grid-area: img1;
}

.img2 {
  grid-area: img2;
}

.img3 {
  grid-area: img3;
}

.img4 {
  grid-area: img4;
}

.section2quienes {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10%;
}

.trabnos {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: black;
  font-size: 30px;
  text-decoration: underline black solid;
}

.enviarcv {
  color: #BE9C3F;
  margin-top: 1%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 15px;
  text-decoration: none;
}

.enviarcv:hover {
  color: #f4f0ea;
}

.imgmail {
  width: 50px;
  height: 50px;
  margin-top: 1%;
}

@media (max-width: 480px) {
  /***footer***/
  footer div div h5 {
    font-size: 8px;
  }
  .li_seguinos_en_nuestras_redes {
    font-size: 8px;
  }
  .flexiframe {
    display: flex;
    justify-content: end;
    margin-right: 10%;
  }
  .spanfooter {
    font-size: 8px;
  }
  .imagen_footer {
    width: 10px;
    height: 10px;
  }
  footer div div iframe {
    width: 80px;
    height: 80px;
    box-shadow: 0.5px 0.5px 0.5px 0.5px;
    border-color: #BE9C3F solid 5px;
  }
  footer ul {
    padding-inline-start: 2%;
  }
  .footerp {
    font-size: 10px;
    border-width: 2px;
  }
  .desarrolladopor {
    font-size: 8px;
  }
  /**index**/
  .imagen-grazie {
    width: 75%;
    height: 100%;
  }
  .botonhacetupedidodiv, .centrah1-hacetupedido, .sectioninicicarcompra, .centrarbotonfotos {
    padding: 0.5% 0.5% 0.5% 0.5%;
  }
  .mainruteobotona {
    font-size: 14px;
  }
  .divwhatsapp {
    margin-bottom: 2%;
  }
  .whatsappboton {
    padding: 0.1% 0.1% 0.1% 0.1%;
  }
  .logowhatsapp {
    width: 20px;
    height: 20px;
  }
  .nuestrasespecialidadesh1 {
    font-size: 30px;
  }
  .listasnuestrasespecialidades {
    display: grid;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-columns: 50%;
    grid-template-areas: "tagl" "lasg" "fettuc" "raviol2" "sorren" "cannel" "macch" "raviol3" "gnoc" "fussil";
    justify-content: center;
  }
  .spanproductosindex {
    font-size: 30px;
    -webkit-text-stroke: 1% black;
  }
  .hacemospastas {
    font-size: 15px;
  }
  .hacerpastascomoencasah2 {
    font-size: 30px;
  }
  .pcomoencasa {
    font-size: 15px;
  }
  /***header***/
  header nav ul li {
    font-size: 12px;
  }
  /***reclamos***/
  .letrascarrito {
    font-size: 8px;
  }
  .imgreclamocarrito {
    width: 10px;
    height: 10px;
  }
  .h1-hace-tu-pedido {
    font-size: 26px;
  }
  .textoimportante {
    font-size: 14px;
    margin: 0% 20% 0% 20%;
    text-align: justify;
  }
  .vercarrito {
    box-shadow: 0.5px 0.5px 0.5px 0.5px;
  }
  .completardatos {
    font-size: 20px;
  }
  .formulariolabel {
    font-size: 14px;
  }
  .tamañoforminput {
    height: 20px;
  }
  .tamañoforminput2 {
    height: 60px;
  }
  .max300 {
    font-size: 8px;
  }
  .iniciarcomprabuton {
    font-size: 20px;
  }
  /***hace-tu-pedido***/
  .main-hace-tu-pedido {
    padding-top: 10%;
  }
  .search {
    font-size: 12px;
  }
  .volverainiciobuton {
    font-size: 12px;
  }
  .vercarrito {
    margin-top: 8%;
  }
  .imagen-gnochi {
    width: 100%;
    height: 150px;
  }
  .h3product {
    font-size: 20px;
  }
  .formproducto {
    height: 50px;
  }
  .nuestraspastassector {
    display: grid;
    grid-template-rows: 350px 350px 350px 350px 350px;
    grid-template-columns: 50% 50%;
    grid-template-areas: "tagliatele ravioli" "raviolone gnocchi" "sorrentinos canelloni" "macarons maccheronni" "fetuccine lasagna";
    justify-content: space-evenly;
    height: 2300px;
    margin-left: 5%;
  }
  .selector {
    font-size: 14px;
  }
  .tipodemasa {
    font-size: 10px;
  }
  .agregarcarrito {
    font-size: 14px;
  }
  .legend {
    -webkit-text-stroke: 0.2px;
    margin-bottom: 2%;
    font-size: 14px;
  }
  .inputhacetupedido {
    font-size: 10px;
  }
  .nuestrassalsassector {
    display: grid;
    grid-template-rows: 400px;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-areas: "scarparo tuco rosa pesto bolognesa";
    justify-content: space-evenly;
    height: 650px;
  }
  .cantidad2 {
    margin-bottom: 10%;
  }
  .scarparoprod {
    grid-area: scarparo;
  }
  .tucoprod {
    grid-area: tuco;
  }
  .rosaprod {
    grid-area: rosa;
  }
  .pestoprod {
    grid-area: pesto;
  }
  .bolognesaprod {
    grid-area: bolognesa;
  }
  .sectioninicicarcompra {
    margin-top: 10%;
  }
  .iniciarcomprabuton {
    background-color: #BE9C3F;
    border-radius: 2%;
    box-shadow: 2px 2px 2px 2px;
    font-size: 30px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    margin-bottom: 1%;
  }
  .iniciarcomprabuton:hover {
    background-color: #324145;
  }
  .textoiniciarcompra {
    text-decoration: none;
    color: black;
  }
}

/*# sourceMappingURL=style.css.map */
