/****index******/

/*no entiendo porque me genero un margen de 8px al body... cuando yo en este archivo nunca lo puse... si me puede ayudar profe le agradezco.. le puse margin para que lo sobreescriba*/

body{
  margin: 0% 0% 0% 0%;}

/*estilo de header*/

.headerindex-quienessomos{
  background-color: #BE9C3F;
  border: solid black 2px;
  width: 99%;
  position: fixed;
  border-radius: 5%;
  box-shadow: 5px 5px 5px 5px;
  z-index: 4;}

/*armado barra de navegacion central*/

header nav ul{
  list-style: none;;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  gap: 10%;
  padding-inline-start: 0px;}

/*modificación de fuente navegador*/

header nav ul li{
  font-size: 30px;}


/*Modificación botones de navegador*/

header nav ul li a{
  text-decoration: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #324145;}

  header nav ul li a:hover{
    color: #f4f0ea;}

/*fondo del logo grazie y hace tu pedido*/

.mainindex{
  background-image: url(../assets/img/fondos/fondo-index-logo-grazie.png);
  background-size:cover;
  height: 100%;
  width: 100%;
  padding-bottom: 1%;}

/*div para poder alinear el logo de marca*/
  
.div-imagen-grazie{
  display: flex;
  flex-direction: row;
  justify-content: center;}

/*logo central de index Grazie*/

.imagen-grazie{
  width: 50%;
  height: 1000px;}

/*div para poder usar flex en el boton de hace tu pedido*/

.botonhacetupedidodiv{
  display: flex;
  justify-content: center;}
      
/*boton de fondo mostaza de hace tu pedido*/

.mainruteoboton {
  background-color: #BE9C3F;
  border-radius: 1cm;
  font-size: 25px;
  box-shadow: 5px 5px 5px 5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 1% 1% 1% 1%;}

 
/*ancore de toca aqui para hacer tu pedido*/

.mainruteobotona{
  color: #324145;
  text-decoration: none;}

/*div para poder alinear con display el boton de whatsapp*/

.divwhatsapp{  
  display:flex;
  justify-content: left;;}
  
/*boton de fondo mostaza que contiene el ruteo a whatsapp*/

.whatsappboton{
  border-radius: 100%;
  border-color: #f4f0ea;
  border: 1% 1% 1% 1%;
  color: black;
  background-color: #BE9C3F;
  box-shadow: 5px 5px 5px 5px;}

/*ruteo que lleva a whatsapp ancore*/

.maindivwhatsappbuttona{
  text-decoration: none;
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 40px;}

/*logo whatsapp dentro de boton*/

.logowhatsapp{
  width: 90px;
  height: 90px;}

/*fondo section nuestras especialidades*/

.sectionnuestrasespecialidades{
 background-image: url(../assets/img/fondos/fondo_index_2.png);
  background-size: cover;}

/*Div para poder usar flex en h1 nuestras especialidades*/

.divnuestrasespecialidades{
  align-items: center;
  justify-content: center;
  display: flex;}

/*Titulo h1 de nuestras especialidades*/

.nuestrasespecialidadesh1{  
  background-color: #324145;
  color: #BE9C3F;
  padding: 0.5% 0.5% 0.5% 0.5%;
  border-radius: 1cm;
  box-shadow: 5px 5px 5px 5px;
  font-size: 50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

/* Div para usar el flex en las listas y que queden espaciadas*/ 


.prod1{
  grid-area: tagl;
  background-image: url(../assets/img/hace-tu-pedido-imagenes/fondo-tagliatelle.png);
  background-size: cover;}

.prod2{
  grid-area: fettuc;
  background-image: url(../assets/img/hace-tu-pedido-imagenes/fondo_fetuccini.png);
  background-size: cover;}

.prod3{
  grid-area: sorren;
  background-image: url(../assets/img/hace-tu-pedido-imagenes/fondo-sorrento.png);
  background-size: cover;}

.prod4{
  grid-area: macch;
  background-image: url(../assets/img/hace-tu-pedido-imagenes/fondo_maccheroni.png);
  background-size: cover;}

.prod5{
  grid-area: gnoc;
  background-image: url(../assets/img/hace-tu-pedido-imagenes/fondo-noquis.png);
  background-size: cover;}

.prod6{
  grid-area: lasg;
  background-image: url(../assets/img/hace-tu-pedido-imagenes/fondo-lasagna.png);
  background-size: cover;}

.prod7{
  grid-area: raviol2;
  background-image: url(../assets/img/hace-tu-pedido-imagenes/fondo-ravioles.png);
  background-size: cover;}

.prod8{
  grid-area: cannel;
  background-image: url(../assets/img/hace-tu-pedido-imagenes/fondo_canelones.png);
  background-size: cover;}

.prod9{
  grid-area: raviol3;
  background-image: url(../assets/img/hace-tu-pedido-imagenes/fondo-raviolone.png);
  background-size: cover;}

.prod10{
  grid-area: fussil;
  background-image: url(../assets/img/hace-tu-pedido-imagenes/fondo_fusilli.png);
  background-size: cover;}

.listasnuestrasespecialidades{
  display:grid;
  grid-template-areas:
  "tagl lasg"
  "fettuc raviol2"
  "sorren cannel"
  "macch raviol3"
  "gnoc fussil";
  column-gap: 10%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  grid-template-columns: 25% 25%;
  justify-content: space-evenly;}


/*cajitas con cada producto de fondo blanca*/

.productesp{
  background-color: #f4f0ea;
  margin: 10%;
  border-radius: 5%;
  box-shadow: black 5px 5px 5px 5px;
  align-items: center;
  text-align: center;}

.spanproductosindex{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 40px;
  color: #f4f0ea;
  -webkit-text-stroke: 2px black;}

/*formato de las imagenes de los recuadros blancos*/

.imgespecialidades{
  border-radius: 100%;
  width: 30%;
  height: 100%;
  margin-left: 5%;}

/*texto de hacemos pastas, debajo de recuadros blancos*/

.hacemospastas{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 32px;
  text-align: center;
  padding-bottom: 100px;
  margin-block-end: 0;}

/*fondo de section hacer pastas como en casa*/

.sectionhacerpastascomoencasa{
  background-image: url(../assets/img/fondos/fideos-de-fondo.png);
  background-size: cover;}

/*div para poder centrar h2 hacer pastas como en casa*/

.divpastascomoencasa{
  display: flex;
  justify-content: center;}

/*h2 hacer pastas como en casa*/

.hacerpastascomoencasah2{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 50px;
  color: #324145;}

/*div para poder usar flex en el texto*/

.divpcomoencasa{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;}

/*texto h2 de hacer pastas como en casa*/

.pcomoencasa{
  text-align: center;
  color: #324145;
  font-size: 45px;
  width: 50%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: solid;
  border-color: #324145;
  box-shadow: 3px 3px 3px 3px ;
  background-color: #f4f0ea;}

/*fondo footer*/

footer{
  background-image: url(../assets/img/fondos/fondo-index-logo-grazie.png);
  background-size: cover;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #BE9C3F;}
  
/*ul creada para poner en bloque los dos sectores (izquierda y derecha) del footer*/

footer ul{
  display: flex;
  justify-content: space-between;}


  /*Titulo de seguinos en nuestras redes y contactanos*/

footer ul li h3 {
  font-size: 24px;}

/*lista para poder sacar el formato de los dos lados, izquierda y derecha*/
  
footer ul{
  list-style: none;
  margin-top: 0%;}

/*formato de iconos de redes sociales*/

.imagen_footer{
  width: 50px;
  height: 50px;
  margin-right: 2%;}

/*Formato a los ancore de las redes sociales*/

footer ul li ul li a{
  text-decoration: none;
  color: #BE9C3F;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;}

/*formato a lista seguinos en nuestras redes, y contactanos para poner en columna ambos li de cada uno*/

.footerizquierda{
  display: flex;
  flex-direction: column;
  padding: 10%;}

/*margenes de listado lado izquierdo footer*/

.li_seguinos_en_nuestras_redes{
  margin: 3%;}



/*ul para agrupar en columna la direccion del footer*/

.direccion{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 10%;}


 
/*direccion del local en footer*/

  .footerp{
  background-color: #BE9C3F;
  color: black;
  font-size: 20px;
  border: solid;
  border-color: black;
  border-width: 5px;
  margin: 5% 5% 5% 5%;
  text-align: center;
  padding-left: 10%;
  padding-right:10%;
  margin-right: 20%;}

/*iframe del mapa del negocio*/

iframe{
  width: 80%;
  height: 50%;
  border-color: #BE9C3F;
  border: solid;
  box-shadow: #BE9C3F 3px 3px 3px 3px;
  margin-top: 10%;}

/*parte de desarrollador*/
  
.desarrolladopor{
  text-align: center;
  font-size: 10px;}



/************hace-tu-pedido************/

/*fondo pagina*/

#bodyhacetupedido{
  background-image: url(../assets/img/fondos/fondo_hace_tu_pedido.png);
  background-size: cover;}

/*agregar padding para que no tape el header fixed*/

.main-hace-tu-pedido{
  padding-top: 5%;}

/*formato buscador producto*/

.search{
  width: 99%;
  border: solid #324145;}

/*div para poder darle formato flex a  boton inicio*/

.botoninicio{
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: 2%;}

/*formato boton volver a inicio*/

.volverainiciobuton{
  background-color: #BE9C3F;
  border: none;
  border-radius: 10%;
  margin-bottom: 1%;
  box-shadow: 2px 2px 2px 2px;}

/*formato del texto del boton volver a inicio*/

.avolverainiciobuton{
  text-decoration: none;
  color: #f4f0ea;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 15px;}


.avolverainiciobuton:hover{
    color: #324145;}

/*formato boton ver carrito*/

.vercarrito{
  background-color: #324145;
  padding: 2% 2% 2% 2%;
  border: solid #f4f0ea;
  box-shadow: 2px 2px 2px 2px;
  border-radius: 2%;
  margin-right: 0.1%;
  position: fixed;
  margin-top: 2%;
  z-index: 4;}

/*formato del texto del boton ver carrito*/

.letrascarrito{
  text-decoration: none;
  color: #f4f0ea;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 15px;}

.letrascarrito:hover{
  color: black;}

/*div para dar display center*/

.centrah1-hacetupedido{
  display: flex;
  justify-content: center;}

/*formato del titulo de la categoria*/

.h1-hace-tu-pedido{
  font-size: 75px;
  font-family: "Enriqueta",sans-serif;
  color: #f4f0ea;
  line-height: 180%;
  -webkit-font-smoothing: antialiased;
  text-decoration-line: underline;
  text-decoration-color: #BE9C3F;}


/*formato partes de la tarjeta producto*/

.imagen-gnochi{
  height: 230px;
  width: 100%;}

  
.h3product{
  font-size: 25px;
  text-align: center;
  grid-area: titulopasta;}


.cantidad{
  justify-self: start;
  border: 0px;
  grid-area: cantrelleno;}

.formproducto{
  height: 110px;
  grid-area: cantidadkg;}


/*display grid para ubicar las pastas*/

.gnocchiproducto{
  grid-area: gnocchi;}

.tagliateleproducto{
  grid-area: tagliatele;}

.sorrentinosproducto{
  grid-area: sorrentinos;}

.lasagnaproducto{
  grid-area: lasagna;}

.canelloniproducto{
  grid-area: canelloni;}

.ravioliproducto{
  grid-area: ravioli;}

.ravioloneproducto{
  grid-area: raviolone;}

.macaronsproducto{
  grid-area: macarons;}

.mostacholesproducto{
  grid-area: maccheronni;}

.fetuccineproducto{
  grid-area: fetuccine;}


/*display grid para el cuerpo del body del producto*/

.card-body1{
  display: grid;
  grid-template-areas: 
  "titulopasta"
  "cantidadkg"
  "cantrelleno"
  "botonagregar";
  grid-template-rows: 15% 35% 20% 30%;}

/*armado grid productos*/

.nuestraspastassector{
  display: grid;
  grid-template-areas:
  "tagliatele ravioli raviolone gnocchi sorrentinos"
  "canelloni macarons maccheronni fetuccine lasagna";
  row-gap: 5%;
  justify-content:space-evenly;
  grid-template-rows: 500px 500px;
  height: 1200px;
  margin-left: 2%;}


/*formato de las opciones de la seccion de masa o relleno*/

.inputhacetupedido{
  font-family: "Enriqueta",sans-serif;}


.inputhacetupedido:hover{
  background-color: #BE9C3F;
  opacity: 1px;}



/*formato del redondel del recuadro de cantidad*/

.selector{
  color: #324145;
  background-color: #BE9C3F;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

  
/*formato a las tarjetas de productos*/

/*ancho de la caja productos*/

.tamprodcaja{
  width: 85%;}

.tipodemasa{
  justify-self: center;
  border:0px;
  font-size: 14px;}


/*div para centrar agregar carrito*/

.centraragregarcarrito{
  display: flex;
  justify-content: center;
  grid-area: botonagregar;}

/*formato boton agregar productos al carrito*/

.agregarcarrito{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  color: #f4f0ea;
  background-color: #324145;
  height: 50%;
  justify-self: center;
  align-self: end;
  border-radius: 4%;}

.agregarcarrito:hover{
  color: 20px #f4f0ea;
  box-shadow: 0 0 20px #324145;
  box-shadow: 0 0 50px #324145;
  box-shadow: 0 0 85px #324145;
  box-shadow: 0 0 125px #324145;}




/*formato de las legend en menu desplegable*/

.legend{
  font-size: 20px;
  color: #324145;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  justify-self: center;
  -webkit-text-stroke: black 0.5px;
  text-decoration-line: underline;
  text-decoration-color: #324145;
  margin-bottom: 5%;}

/*sacar bordes al fieldset de los form*/

.fieldset{
  border: 0;}

/*separarh2*/

.separarh2{
  margin-top: 5%;}


/*formato del menu seleccion masa-relleno*/

.inputhacetupedido{
  color: #324145;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 12px;}

/*armado grid sector pastas*/

.nuestrassalsassector{
  display: grid;
  grid-template-areas:
  "scarparo tuco rosa pesto bolognesa";
  justify-content:space-evenly;
  grid-template-rows: 400px;
  height: 650px;
  margin-left: 2%;}

.cantidad2{
  margin-bottom: 10%;}


/*nombre areas*/


.scarparoprod{
  grid-area: scarparo;}

.tucoprod{
  grid-area: tuco;}

.rosaprod{
  grid-area: rosa;}

.pestoprod{
  grid-area: pesto;}

.bolognesaprod{
  grid-area: bolognesa;}



/*formato flex para centrar boton iniciar compra*/

.sectioninicicarcompra{
  display: flex;
  justify-content: center;
  margin-top: 10%;}

/*iniciar compra button final de pagina*/

.iniciarcomprabuton{
  background-color: #BE9C3F;
  border-radius: 2px;
  box-shadow: 3px 3px 3px 3px;
  font-size: 35px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-bottom: 3%;}

.iniciarcomprabuton:hover{
  background-color: #324145;}

/*formato texto iniciar compra*/

.textoiniciarcompra{
  text-decoration: none;
  color: black;}


/******reclamos****/

/*fondo del body*/

.bodyreclamos{
  background-image: url(../assets/img/fondos/fondo_hace_tu_pedido.png);}

/*ubicacion del section*/

.sectionreclamo{
  display: flex;
  justify-content: end;}

/*margen carrito para no tapar header*/

.margincarrito{
  margin-top: 15%;}

/*centrar items de importante*/

.importante-reclamo{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;}

/*formato del texto importante*/

.textoimportante{
  font-family: "Enriqueta",sans-serif ;
  font-size: 20px;
  color: #f4f0ea;}

/*formato del formulario*/

.formularioreclamo{
  font-family:  "Enriqueta",sans-serif;
  color: #f4f0ea;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;}

/*borde del formulario*/

.fieldset2{
  border: none;
  width: 70%;}


/*formato del legend completa tus datos*/

.completardatos{
  text-align: center;
  text-decoration: underline double #BE9C3F;
  font-size: 45px;
  margin-bottom: 5%;}

/*formato de los titulos del form*/

.formulariolabel{
  text-decoration: underline  #324145;
  font-size: 30px;}

/*formato de area relleno form*/

.tamañoforminput{
  width: 100%;
  height: 25px;}

.tamañoforminput2{
    width: 100%;
    height: 200px;}

/****galeria****/


.bodygaleria{
  background-image: url(../assets/img/fondos/fondo-index-logo-grazie.png);}

/*margenh1 arte*/

.arteh1{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
  font-size: 45px;
  color: #BE9C3F;
  padding-top: 15%;
  text-align: center;
  margin-bottom: 8%;
  text-decoration: underline solid #f4f0ea;
  font-size: 75px;}

/*armado grid*/

.grid-armado{
  display: grid;
  grid-template-areas:
  "postres ravio tartas"
  "postres grazielocal tartas"
  "cristian grazielocal fabio";
  grid-template-rows: 25% 20% 35%;
  grid-template-columns: 20% 25% 20%;
  row-gap: 2%;
  column-gap: 2%;
  justify-content: center;}
  
/*nombres de los grid*/

.postres{
  grid-area: postres;}

.raviolonesart{
  grid-area: ravio;}

.tartas{
  grid-area: tartas;}

.cristian{
  grid-area: cristian;}

.fabio{
  grid-area: fabio;}

.grazielocal{
  grid-area: grazielocal;}

/*formato imagenes de la galeria*/

.imggaleria{
  width: 100%;
  height: 80%;
}

/*parrafo de las imagenes*/

.parrafogaleria{
  font-family: "Enriqueta",sans-serif;
  font-size: 20px;
  color: #BE9C3F;
  text-align: center;}

/*bordes y formato de los div de cada foto y p*/

.bordegaleria{
  border: #BE9C3F solid 5px;
  outline: solid 5px #f4f0ea;
  background-color: #f4f0ea;}

/*formato de las imagenes medios pago div*/

.grid-mediospago{
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10%;}


/*formato img medios pago*/

.imgmediospago{
  width:12%;
  height:100px;
  margin-left: 2%;
  margin-right: 2%;}

/*variacion footer galeria*/

.footergaleria{
  margin: 1% 1% 1% 1%;
  border: #BE9C3F solid;
  border: 5px 5px 5px 5px;
  border-radius: 2%;}

/*formato buton  a ver fotos*/

.centrarbotonfotos{
  display: flex;
  justify-content: center;  }


.butonverfotos{
  background-color: #BE9C3F;
  justify-self: center;
  border-radius: 10%;}

.butonverfotos:hover{
  background-color: #f4f0ea;}

/*formato ancore adicional a ver fotos*/

.ancorefotos{
  font-family: "Enriqueta",sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: #324145;}

/****quienes-somos****/

.bodyquienes-somos{
  background-image: url(../assets/img/fondos/fondo-index-logo-grazie.png);}


/*formato grid al main*/

.grid-main{
  display: grid;
  grid-template-areas: 
  "imagen titulo"
  "imagen parrafo";
  grid-template-rows: 30% 70%;
  grid-template-columns: 30% 70%;
  margin-left: 3%;
  margin-right: 3%;}


/*formato nosotros h1*/

.nosotrosh1{
  color: #BE9C3F;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 55px;
  grid-area: titulo;}

/*formato pnostros*/

.parrafonostros{
  text-align: justify;
  color: #BE9C3F;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 25px;
  grid-area: parrafo;
  border-width: 5px;
  border-style: solid;
  border-color: #BE9C3F;
  padding: 0% 1% 0% 2%;}

/*formato imgpnosotros*/

.imgparrafo{
  width: 80%;
  height: 80%;
  grid-area: imagen;
  align-self: center;}

/*formato de las 4 imagenes*/

.grid-section-fotos{
  display: grid;
  grid-template-areas:
  "img1 img2 img3 img4";
  grid-template-columns: 20% 20% 20% 20%;
  justify-content: space-evenly;
  margin-left: 5%;
  margin-top: 10%;
  margin-right: 5%;}

.imgdenosotros{
  border: #BE9C3F solid 5px;
  outline: solid 5px #f4f0ea;
  width: 80%;
  height: 100%;}

.img1{
  grid-area: img1;}

.img2{
  grid-area: img2;}
  
.img3{
  grid-area: img3;}

.img4{
  grid-area: img4;}
  

/*parte queres trabajar con nosotros*/

.section2quienes{
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10%;}


.trabnos{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: black;
  font-size: 25px;
  text-decoration: underline black solid;}

.enviarcv{
  color: #BE9C3F;
  margin-top: 1%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  text-decoration: none;}

.enviarcv:hover{
  color: #f4f0ea;}

.imgmail{
  width: 50px;
  height: 50px;
  margin-top: 1%;}

/*parte responsive del index y generales*/


@media (max-width: 480px) {

/****index****/

/*formato footer*/


footer ul li h3{
  font-size: 10px;}

.li_seguinos_en_nuestras_redes{
  font-size: 7px;}

.flexiframe{
  display: flex;
  justify-content: end;
  margin-right: 10%;}

/*parte del logo*/

.imagen-grazie{
  width: 75%;
  height: 100%;}

/*parte de hace tu pedido*/ 

.botonhacetupedidodiv{
  padding: 0.5% 0.5% 0.5% 0.5%;}

.mainruteobotona{
  font-size: 14px;}

/*parte boton whatsapp*/

.divwhatsapp{
  margin-bottom: 2%;}

.logowhatsapp{
  width: 20px;
  height: 20px;}

footer ul {
  padding-inline-start: 2%;}

.footerp{
  font-size: 10px;
  border-width: 2px;}

.desarrolladopor{
  font-size: 7px;}

/*nuestras especialidades sector*/

.nuestrasespecialidadesh1{
  font-size: 30px;}

.listasnuestrasespecialidades{
  display:grid;
  grid-template-areas:
  "tagl"
  "lasg"
  "fettuc"
  "raviol2"
  "sorren"
  "cannel"
  "macch"
  "raviol3"
  "gnoc"
  "fussil";
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-columns: 50% ;
  justify-content: center;}

.spanproductosindex{
  font-size: 20px;}


.hacemospastas{
  font-size: 15px;}


/*sector de pastas como en casa*/

.hacerpastascomoencasah2{
  font-size: 30px;}

.divpcomoencasa{
  padding-top: 2%;}

.pcomoencasa{
  font-size: 20px;}


/****reclamos****/

header nav ul li{
  font-size: 12px;}

.letrascarrito{
  font-size: 8px;}

.imgreclamocarrito{
  width: 10px;
  height: 10px;}

.h1-hace-tu-pedido{
  font-size: 26px;}

.textoimportante{
  font-size: 14px;
  margin: 0% 20% 0% 20%;
  text-align: justify;}

.vercarrito{
  box-shadow: 0.5px 0.5px 0.5px 0.5px;}

.completardatos{
  font-size: 20px;}

.formulariolabel{
  font-size: 14px;}

.tamañoforminput{
  height:20px;}

.tamañoforminput2{
  height: 60px;}

.max300{
  font-size: 10px;}

.iniciarcomprabuton{
  font-size: 20px;}

.spanfooter{
  font-size: 8px;}

.imagen_footer{
  width: 10px;
  height: 10px;}

iframe{
  width: 100px;
  height: 100px;}



}