%flex_centrado{
    display: flex;
    justify-content: center;
    align-items: center;
}

%texto_listas{
    text-decoration: none;
    color: #be9c3f;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

%bordesombra{
    border: solid;
    border-color: black;
    border-width: 5px 5px 5px 5px;
}