@mixin sizes($width, $height)
{
    width: $width;
    height: $height;
}

@mixin display ($flex, $dir)
{
    display: $flex;
    flex-direction: $dir;
}

@mixin grid ($grid, $row, $column,)
{
    display: $grid;
    grid-template-rows: $row;
    grid-template-columns: $column;
}