$bc-yellow: #BE9C3F;
$bc-green: #324145;
$bc-white: #f4f0ea;

$font-s: 15px;
$font-m: 30px;
$font-b: 50px;

$family-treb: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

$border-redondo: 5%;
$border-circulo: 100%;

$m1: 1%;
$m2: 2%;
$m3: 3%;
$m4: 5%;
$m5: 10%;

$bg-cover: cover;

$box-sombra: 5px 5px 5px 5px;
