$bc-yellow: #BE9C3F;
$bc-green: #324145;
$bc-white: #f4f0ea;

$font-xs: 10px;
$font-s: 15px;
$font-m: 30px;
$font-b: 50px;
$font-xb: 75px;
$font-legend: 20px;
$font-mobile-b: 12px;
$font-mobile-ab: 16px;
$font-mobile-c: 18px;
$font-mobile-l: 26px;
$font-mobile-xl: 32px;

$family-treb: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$family-enriq: "Enriqueta",sans-serif;

$border-redondo: 5%;
$border-circulo: 100%;

$m1: 1%;
$m2: 2%;
$m3: 3%;
$m4: 5%;
$m5: 10%;

$bg-cover: cover;

$box-sombra: 5px 5px 5px 5px;
$box-shadow2: 2px 2px 2px 2px;
$box-shadow-mobile: 0.5px 0.5px 0.5px 0.5px;